@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}

.navbar {
    position: sticky;
    top: 0px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 4rem;
}

nav {
    display: flex;
    align-items: center;
    /* width: 100%; */
    /* margin-right: 100px; */
}

nav ul {
    display: flex;
    list-style: none;
    color: white;

}

nav ul li {

    margin-right: 8px;
    color: white;

}

nav ul li a {
    text-decoration: none;
    color: white;

}

nav ul li:hover {
    border-bottom: 1px solid white;
}

nav ul li a:active {
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: #2c2c2c;

}

.navbar h1 {
    font-size: 25px;
    font-weight: 800;
    margin-left: 23px;
    color: white;
}

.navbar .nav-ul {
    position: absolute;
    right: 80px;
}

/* Home Page  */

.home-page{
    height: 100vh;
    background-color: #ffffff;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-family: "Arvo", serif;
    width: 100%;
}

/* CSS for my name heading */


.my-name {
    position: relative;
    left: 0px;
    font-family: "Arvo", serif;
    font-weight: 1000;
    
    position: relative;
    bottom: 50px;
    width: 100%;
    /* transform: scale(1.1); */
    transition: transform 2s;
    grid-column: 2/3;
    grid-row: 2/3;
    }
    
    .name-1st {
        display: flex;
        align-items: baseline;
        text-align: right;
        margin-bottom: -51px;
        font-family: "Audiowide", sans-serif;

}

.name-2nd {
    display: flex;
    align-items: baseline;
    text-align: right;
    margin-bottom: -51px;
    font-family: "Audiowide", sans-serif;


}

.m-1 {
    font-size: 80px;
    font-weight: 500;

}

.m-2 {
    font-size: 100px;
    font-weight: 900;
}

.m-3 {
    font-size: 35px;
    font-weight: 500;

}


/* Linear Gradient */

@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }

}

.magic {
    animation: bg-animation 5s linear infinite;
    background: linear-gradient(45deg, rgb(199, 28, 28), #66347f, #a7f, #e8a0bf, #66347f);
    background-size: 200%;
    background-clip: text;
    color: transparent;
}

/* Hamburger and Toggle */

.hamburger {
    margin-right: 10px;

}

.hamburger img {
    display: none;
    margin-right: 0px;
}

.toggle {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
}

.toggle ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
    margin-right: 120px;
    color: white;
    position: relative;
}


.cancel {
    margin-left: -9px;
}

/* Second Page */
.second-page {
    position: relative;
    left: 25px;
    width: 96%;
    height: 100%;



}

.about {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;


    gap: 18px;
}

.about-heading {
    /* position: relative;
    left: 23px; */
    display: flex;
    width: 274px;
    gap: 2px;
    font-weight: 900;
    font-family: "Arvo", serif;
}

.about-heading h1 {
    font-size: 4rem;
}

.about-text {
    width: 85%;
    position: relative;
    left: 23px;
    font-size: 20px;
    font-weight: 700;
}

/* Second page card */
.card-container {
    display: flex;
    gap: 12px;
    font-size: 14px;
    width: 90%;
    position: relative;
    left: 23px;


}

.card {
    border: 2px solid #2c2c2c2c;
    border-radius: 10px;
    box-shadow: 8px -8px #2c2c2c2c, 0em 0 0.4em #2c2c2c2c;
    width: 100%;
    padding: 12px;
}

.card-heading {
    font-size: 18px;
    font-weight: 900;
    padding-left: 5px;
    border-bottom: 2px solid black
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 0px 2px;
}

.card-capsule {
    border: 1.5px solid blue;
    border-radius: 20px;
    padding: 1px 12px 1px 12px;
    margin: 8px;
}

.card p {
    font-size: 18px;
    font-weight: 500;

}

/* Projects-thirdPage */
.third-page {
    position: relative;
    left: 25px;
    top: 230px;
    width: 94%;
    /* height: 100vh; */
}

.project-heading {
    /* position: relative;
    left: 23px; */
    display: flex;
    width: 343px;
    gap: 2px;
    font-weight: 900;
    margin-bottom: 23px;
}
.project-heading h1 {
    font-size: 4rem;
}

/* Project Card */
.project-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    font-size: 14px;
    width: 70%;
    position: relative;
    left: 23px;
    margin: auto;

}

.project-card {
    border: 1px solid black;
    width: 100%;
    border-radius: 20px;
    height: 100%;

    margin-bottom: 23px;
    /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
}

.project-card-heading {
    font-size: 18px;
    font-weight: 900;
    padding-left: 10px;
    border-bottom: 2px solid black
}

.project-card-body {
    padding: 23px;
    font-size: 18px;
    font-weight: 700;
}

.project-link {
    position: relative;
    left: 23px;

}

.project-link button {

    border-radius: 10px;
    border: none;
    background-color: #0d1117;
padding: 5px 10px 5px 10px;
}

.project-link a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 600;
}
/* Contact Page */
.fourth-page{
    position: relative;
    top: 340px;
    height: 50vh;
}
.contact{
    border: 1px solid black;
    width: 60%;
    margin: auto;
    padding: 5px 12px 5px 12px;
    border: 1px solid #e2e8f0;
    border-radius: 10px;
}
.contact button{
    border: none;
    font-size: 15px;
    font-weight: 800;
    border-radius: 10px;
    color: white;
    background-color:#0d1117 ;
    padding: 8px;
}
.contact-button{
    margin-bottom: 12px;
    margin-top: 8px;
    padding-left: 20px;

}
.contact-text{
    color: #727278 ;
    padding: 0px 20px 0px 20px;
    font-size: 13px;
    }
    
/* Footer */
.fifth-section{
    position: relative;
    top: 350px;
}
.footer{
    margin: auto;
    /* width: 50%; */
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.social p{
    font-size: 18px;
}
.copyRight-name{
    display: flex;
    justify-content: center;
}
.copyRight-name p{
    font-size: 18px;
}
/* Responsiveness Code for Nav-bar and my name heading  */
@media only screen and (max-width: 1024px){
    .project-card-container{
        grid-template-columns: 1fr;
    }
    
}
@media only screen and (max-width: 750px) {
    /* .my-name {
        transform: scale(0.8);
    } */

    nav {
        margin-right: 0px;
    }

    .navbar h1 {
        margin: 10px;
    }

    .card-container {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .second-page {
        left: 20px;
    }
    .third-page{
        top: 400px;
    }
    .project-card{
        width: 100%;
    }
    .fourth-page{
        top: 460px;
    }
    .fifth-section{
        top: 450px;
    }


}

@media only screen and (max-width:400px) {
    .hamburger img {
        display: flex;
        /* justify-content: flex-end; */
    }

    .navbar nav ul {
        display: none;
    }

    .home-page{
    width: 100%;
    }
  

    .navbar h1 {
        font-size: 18px;
    }

    .hamburger {
        display: flex;
    }
    .nav-ul{
        position: absolute;
    right: 10px;
    }

    .second-page {
        left: 5px;
    }
    .about-heading h1{
        font-size: 2.5rem ;
    }
    .project-heading h1{
        font-size: 2.5rem ;
    }
    .fourth-page{
        top: 500px;
    }
    .fifth-section{
        top: 600px;
    }
    .social img{
        width: 18px;
    }
    .social p{
        font-size: 14px;
    }

}

@media only screen and (max-width:500px) {

    .m-1{
        font-size: 40px;
    }
    .m-2{
        font-size: 55px;
    }
    .m-3{
        font-size: 26px;
    }
    .name-1st{
        margin-bottom: -25px;
    }
    .name-2nd{
        margin-bottom: -25px;

    }

}